<% attributes = object.children_by_type(:attribute) %>
<% if attributes.size > 0 %>
  <h2>Attributes Summary</h2>
  <ul class="summary">
    <% attributes.each do |attribute| %>
      <li>
        <span class="attributes_summary"><%= attribute.name %></span>
        <span class="summary_desc"><%= attribute.description %></span>
      </li>
    <% end %>
  </ul>
<% end %>
