<% attrib_list = item_listing(:attribute) %>
<% if attrib_list[0].size > 0 %>
  <h2>Attribute Summary
     <small>(<a href="#" class="summary_toggle">collapse</a>)</small>
  </h2>
  <% attrib_list[1].each do |namespace| %>
    <% if namespace == object %>
      <h3>Cookbook Level Attributes</h3>
    <% else %>
      <h3>Resource Name : <%= namespace.to_s.split('::')[2] %></h3>
    <% end %>
    <ul class="summary">
      <% attrib_list[0].each do |attrib| %>
        <% if attrib.namespace == namespace %>
          <%= yieldall :item => attrib %>
        <% end %>
      <% end %>
    </ul>
  <% end %>
<% end %>
