<% n = 1 %>
<dl class="box">
  <% unless object.root? %>
    <dt class="r<%=n%> last">Defined in:</dt>
    <dd class="r<%=n%> last"><%= erb(:defines) %></dd>
  <% end %>
</dl>
<div class="clear"></div>
