<% definitions = get_items_of_type(object, :definition) %>
<% if definitions.size > 0 %>
  <div class="method_details_list">
    <h2>Definition Details</h2>
    <% definitions.each_with_index do |define, i| %>
      <%= yieldall :object => define, :owner => object, :index => i %>
    <% end %>
  </div>
<% end %>
