<% definitions = get_items_of_type(object, :definition) %>
<% if definitions.size > 0 %>
  <h2>Definition Summary
     <small>(<a href="#" class="summary_toggle">collapse</a>)</small>
  </h2>
  <ul class="summary">
    <% definitions.each do |define| %>
      <%= yieldall :item => define %>
    <% end %>
  </ul>
<% end %>
