<ul class="summary compact">
  <% @objects.each do |define| %> 
    <li><span class="summary_signature">
      <a href="../<%= url_for(define.parent, define.name, false) %>"><%= define.Name %></a>
    </li>
  <% end %>
</ul>
