<% providers = get_items_of_type(object, :provider) %>
<% if providers.size > 0 %>
  <h2>Providers Summary
     <small>(<a href="#" class="summary_toggle">collapse</a>)</small>
  </h2>
  <% providers.each do |provider| %>
    <h3>Provider Name : <%= provider.name.to_s.split('~')[0] %></h3>
    <ul class="summary">
      <% provider.children.each do |action| %>
        <%= yieldall :item => action %>
      <% end %>
    </ul>
  <% end %>
<% end %>
