<% providers = object.providers %>
<% if providers.size > 0 %>
  <h2>Providers Summary</h2>
  <% providers.each do |provider| %>
    <h3><%= provider.class_name %></h3>
    <h4>Actions Summary</h4>
    <% actions = provider.children_by_type(:action) %>
    <% if actions.size > 0 %>
      <ul class="summary">
        <% actions.each do |action| %>
          <li>
            <span class="summary_signature">
              <strong><a href="#<%= action.name %>"><%= action.name %></a></strong>
            </span>
            <span class="summary_desc"><%= action.docstring %></span>
          </li>
        <% end %>
      </ul>
    <% end %></li>
  <% end %>
<% end %>
