<% recipe_ns = object.parent.child(:type => :recipe) %>
<table>
  <thead>
    <tr>
      <th>Recipe</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% n = 1 %>
    <% @objects.each do |recipe| %>
      <tr class="r<%= n %>">
        <td><a href="../<%= url_for(recipe_ns, recipe.Name, false) %>">
          <%= recipe.Name %></a></td>
        <td><%= recipe.docstring %></td>
      </tr>
      <% n = n == 2 ? 1 : 2 %>
    <% end %>
  </tbody>
</table>
