<% resources = get_items_of_type(object, :resource) %>
<% cookbook_attrib = get_items_of_type(object, :attribute) %>
<% if resources.size > 0 or cookbook_attrib.size > 0 %>
  <h2>Resources
     <small>(<a href="#" class="summary_toggle">collapse</a>)</small>
  </h2>
  <% if cookbook_attrib.size > 0 %>
    <h3>Cookbook Level Resources</h3>
    <h4>Attributes</h4>
    <ul class="summary">
      <% cookbook_attrib.each do |attrib| %>
        <%= yieldall :item => attrib %>
      <% end %>
    </ul>
    <h4>Actions</h4>
    <ul class="summary">
      <% resources.each do |resource| %>
        <%= resource.actions %>
      <% end %>
    </ul>
  <% end %>
  <% if resources.size > 0 %>
    <% resources.each do |resource| %>
      <h3>Resource Name : <%= resource.name.to_s.split('~')[0] %></h3>
      <ul class="summary">
        <% resource.children.each do |attrib| %>
          <%= yieldall :item => attrib %>
        <% end %>
      </ul>
    <% end %>
  <% end %>
<% end %>
