<li class="action">
  <span class="summary_signature">
    <strong><a href="#<%= object.name %>"><%= object.name %></a></strong>
  </span>
  <span class="summary_desc"><%= htmlify object.docstring %></span>
</li>

<%= yieldall %>