<% actions = get_items_by_type(@object, :action) %>
<div class="method_details_list">
  <ul class="summary">
    <% actions.each_with_index do |action, i| %>
      <li class="public"><span class="summary_signature">
        <strong><%= action.name %></strong>
        <%= htmlify(action.docstring) %>
      </span>
      </li>
      <div class="method_details first">
        <%= yieldall :object => action, :owner => object, :index => i %>
      </div>
    <% end %>
  </ul>
</div>
