<% actions = get_items_by_type(@object, :action) %>
<div class="method_details_list">
  <% actions.each_with_index do |action, i| %>
    <h3 class="signature <%= i==0?'first':'' %>">
      <strong><%= action.name %></strong>
    </h3>
    <div class="method_details <%= i==0?'first':''%>">
      <%= yieldall :object => action, :owner => object, :index => i %>
    </div>
  <% end %>
</div>
