<% providers = get_items_by_type(object, :provider) %>
<% if providers.size > 0 %>
  <% providers.each do |provider| %>
    <h3><a name="<%= provider.name %>">Provider : <%= provider.name %></a></h3>
    <%= yieldall :object => provider %>
  <% end %>
<% end %>
