 <% actions = items_of_type(@cookbook, :action) %>
 <% if !actions.empty? %>
  <div class = "multiline">
    <h4>Actions</h4>
    <table style="width:580px;" border="1">
      <thead>
        <tr>
          <th class="even">Action</th>
          <th class="odd">Description</th>
        </tr>
      </thead>
      <tbody>
      <% actions.each do |action| %>
        <tr>
          <td><%= action.name.to_s %></td>
          <td><%= action.docstring.to_s %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>
