<h3>List of Cookbooks</h3>
<table>
  <thead>
    <tr>
      <th>Cookbook Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% n = 1 %>
    <% @cookbooks.each do |cookbook| %>
      <tr class="r<%= n %>">
        <td><%= cookbook.name %></td>
        <td><%= htmlify(cookbook.docstring) %></td>
      </tr>
      <% n = n == 2 ? 1 : 2 %>
    <% end %>
  </tbody>
</table>
