<% n = 1 %>
<% @items.each do |item| %>
  <% if not item.namespace.parent.root? %>
    <li class="r<%= n %>">
      <span class="object_link">
        <a href="<%= url_for(item.parent, item.name) %>" title="<%= item.file %>">
          <%= h(item.name) %>
        </a>
      </span>
    </li>
    <% n = n == 2 ? 1 : 2 %>
  <% end %>
<% end %>
