<% n = 1 %>
<% @items.each do |item| %>
  <% unless item.resources.empty? %>
    <% item.resources.each do |resource| %>
      <li class="r<%= n %>">
        <span class="object_link">
          <a href="<%= url_for(item, resource.long_name) %>" 
      title="<%= resource.file %>">
            <%= h(resource.long_name.split('::')[2]) %>
          </a>
        </span>
      </li>
      <% n = n == 2 ? 1 : 2 %>
    <% end %>
  <% end %>
<% end %>
