<% cookbooks = object.children_by_type(:cookbook) %>
<h1>Cookbook List</h1>
<table>
  <thead>
    <tr>
      <th>Cookbook</th>
      <th>Description</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
  <% n = 1 %> 
  <% cookbooks.each do |cookbook| %>
    <tr class="r<%= n %>">
      <td><%= linkify cookbook %></td>
      <td><%= cookbook.short_desc %></td>
      <td><%= cookbook.version %></td>
    </tr>
    <% n = n == 2 ? 1 : 2 %>
  <% end %>
  </tbody>
</table>
