<% if object.actions.size > 0 %>
  <h3>Actions</h3>
  <% actions = object.actions.delete_if{|item| item == '@action_list'} %>
  <ul class="summary compact"> 
    <% actions.each do |action| %>
      <li class="public">
        <span class="summary_signature"><%= action.to_s %></span>
      </li>
    <% end %>
  </ul>
<% end %>
