<% attributes = object.children_by_type(:attribute) %>
<% if attributes.size > 0 %>
  <li>
    <h4>Resource Attributes</h4>
    <ul class="summary">
      <% attributes.each do |attribute| %>
        <li>
          <span class="attributes_summary">
            <strong><%= attribute.name %></strong>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(<%= attribute.source %>)
          </span>
          <span class="summary_desc"><%= attribute.docstring %></span>
        </li>
      <% end %>
    </ul>
  </li>
<% end %>
