<% if object.providers.size > 0 %>
  <% providers = object.providers.uniq {|prov| prov.name.to_s} %>
  <h3>Providers</h3>
  <ul class="summary compact">
    <% providers.each do |provider| %>
      <li>
        <span class="summary_signature">
          <a href="../<%= url_for(provider.parent, provider.name.to_s, false) %>">
            <%= provider.Path %>
          </a>
        </span>
      </li>
    <% end %>
  </ul>
<% end %>
