<% if @resources.size > 0 %>
  <h2>Lightweight Resources</h2>
  <% @resources.each do |resource| %>
    <h3><a name="<%= resource.long_name %>"><%= resource.name %></a></h3>
    <ul><%= yieldall :object => resource %></ul>
  <% end %>
<% end %>
