<% resources = object.children_by_type(:resource) %>
<% resources.each do |resource| %>
  <h3 style="border-bottom: 1px #aaa solid">
    Resource : <a name="<%= resource.name.to_s %>"><%= resource.name.to_s %></a>
  </h3>
  <%= yieldall :object => resource %>
<% end %>
