table {
  border: 0px;
}

th {
  color: black;
  padding: 5px;
}

td {
  padding: 10px;
}

tr.r1 { background: #FFFFFF; }
tr.r2 { background: #EFEFEF; }

tt, code {
  background-color: #ebecf1;
  border-bottom: 1px solid #d8dde3;
  color: #3f5364;
}


h1 {
  margin: 0.5;
  padding: 0.5em 0 0.3em 0;
  font-size: 1.75em;
  font-weight: bold;
  color: #3f5364;
  border-bottom: solid 4px #f18b21; }

h2 {
  margin: 0.5em 0 0.2em 0;
  font-size: 1.55em;
  font-weight: bold;
  color: #3f5364;
  padding: 0.7em 0 0.3em 0;
  border-bottom: solid 2px #7d868c; }

h3 {
  margin: 0.5em 0 -0.3em 0;
  font-size: 1.35em;
  font-weight: bold;
  color: #3f5364;
  padding: 0.7em 0 0.3em 0;
  border-bottom: solid 1px #7d868c;
}

h4 {
  margin: 0.5em 0 -0.3em 0;
  font-size: 1.35em;
  color: #3f5364;
  padding: 0.7em 0 0.3em 0;
  border-bottom: solid 0px #7d868c; }