body {
  color: #2F3F4C;
  line-height: 1.5;
  font-size: 14px;
}

table {
  border: 0px;
}

th {
  color: black;
  padding: 5px;
}

td {
  padding: 10px;
}

tr.r1 { background: #FFFFFF; }
tr.r2 { background: #EFEFEF; }

tt, code {
  background-color: #ebecf1;
  border-bottom: 1px solid #d8dde3;
  color: #2F3F4C;
}


h1 {
  margin: 0.5;
  padding: 0.5em 0 0.3em 0;
  font-size: 1.75em;
  font-weight: bold;
  color: #2F3F4C;
  border-bottom: solid 4px #f18b21; }

h2 {
  margin: 0.5em 0 0.2em 0;
  font-size: 1.55em;
  font-weight: bold;
  color: #2F3F4C;
  padding: 0.7em 0 0.3em 0;
  border-bottom: solid 2px #7d868c; }

h3 {
  margin: 0.5em 0 -0.3em 0;
  font-size: 1.35em;
  font-weight: bold;
  color: #2F3F4C;
  padding: 0.7em 0 0.3em 0;
  border-bottom: solid 1px #7d868c;
}

h4 {
  margin: 0.5em 0 -0.3em 0;
  font-size: 1.35em;
  color: #2F3F4C;
  padding: 0.7em 0 0.3em 0;
  border-bottom: solid 0px #7d868c; }

pre {
  font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
  font-size: 0.95em;
  letter-spacing: 0.015em;
  line-height: 120%;
  padding: 0.5em;
  border: 0.0px solid #d8dde3;
  background-color: #ebecf1;
  overflow-x: scroll; }

#filecontents pre.code, .docstring pre.code, .tags pre.example {
  padding: 5px 12px;
  margin-top: 4px;
  border: 1px solid #d8dde3;
  background: #ebecf1;
}

table {
  width: 100%;
}