<div> 
  <h3>RightScale</h3>
  <hr>
  <ul>
    <% @cookbooks.each do |cookbook| %>
      <% @cookbook = cookbook %>
      <li>
        <h4><%= cookbook.name.to_s %></h4>
        <p><%= cookbook.docstring %></p>
        <%= erb(:action_table) %>
        <%= erb(:attribute_table) %>
      </li>  
    <% end %>
  </ul>
</div>
